{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<p style="text-align:center">
    Welcome to my Shopify Internship Application App!<br />
    Here, you are able to add, view, and edit/delete inventory items. <br />
    You can also add items to a shipment to send off to their final destinations. <br />
    Please use the navigation bar to access these features.  <br />
    Thank you for reviewing my project!
</p>
<h4 style="text-align:center">
    Coded By: Taylor Hartsfield <br />
    Email: taylormhartsfield@gmail.com
</h4>
{% endblock %}