{% extends "base.html"%}
{% block title %} View Inventory{% endblock %}
{% block content %}
<br />
<h1 style="text-align:center">Main Warehouse Inventory</h1>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Inventory Count</th>
          <th scope="col">Date Entered/Edited</th>
          <th scope="col">Shipment</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {%for item in values %}
      <tbody>
        <tr>
          <th scope="row">{{item._id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.count}}</td>
          <td>{{item.date_posted}}</td>  
          <td>{{item.shipment}}</td>
          <td>
            <button type="button" class="btn btn-outline-success"><a href='/shipment/{{item._id}}'>Add To Shipment</a></button>
            <button type="button" class="btn btn-outline-primary"><a href='/view_shipments/{{item.shipment}}'>View All Shipment Inventory</a></button>
            <button type="button" class="btn btn-outline-warning"><a href='/edit-entry/{{item.name}}'>Edit</a></button>
            <button type="button" class="btn btn-outline-danger"><a href='/delete-entry/{{item.name}}'>Delete</a></button>
          </td>
          {%endfor%}
        </tr>
    </tbody>
{% endblock %}